[submodule "third_party/transcribe-rs-migraphx"]
	path = third_party/transcribe-rs-migraphx
	url = https://github.com/GarntS/transcribe-rs.git
[submodule "third_party/qwentts.cpp"]
	path = third_party/qwentts.cpp
	url = https://github.com/ServeurpersoCom/qwentts.cpp.git
